* {
    font-family: 'Courier New', Courier, monospace;
    margin: 0px;
}

.navbar{
    background-color: red;
    font-family: 'Courier New', Courier, monospace;
    padding: 1rem;
    margin-bottom: 3rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.logo a{
    font-size: 2rem;
    font-weight: 600;
    color: white;
    text-decoration: none;
}
nav li{
    list-style: none;
    display: inline-block;
}
nav li a{
    color: white;
    font-size:  18px;
    font-weight: bold;
    margin-right:  2rem;
    text-decoration: none;
}
.navbar button{
    background-color: black;
    color: white;
    margin-left:  10px;
    border-radius: 10px;
    padding:  10px;
    width: 90px;
    color: white;
    font-weight: bold;
    font-size: 15px;
    text-decoration: none;
}

 

.log-in {
    background-color: aqua;
    border: none;
    color: white;
    padding: 10px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin-left: 50rem;
}



#calendar {
    width: 80%;
    padding: 1rem;
    margin: auto;
    border-collapse: collapse;
    min-height: 10rem;
    
}


#calendar tr {
    width: 100%;
}

#calendar th, #calendar td{
    border: .2rem solid black;
    width:  14%;
    padding: 1rem;
    padding-right: 2rem;
}

#calendar ul {
    list-style-type:disc;
}

.signin-box {
    width: 700px;
    height: 800px;
    margin: auto;
    background-color: rgba(255, 0, 0, 0.123);
    border-radius: 3px;
}

.signin-box h1{
    text-align: center;
    padding-top: 15px;

}

.signin-box h2{
    text-align: center;
    padding-top: 5;
    font-size: medium;

}
.signin-box form{
    padding-top: 20px;
    width: auto;
    margin-left: 20px;
    margin-right: 35px;


}

.signin-box form label{
    display: flex;
    margin-top: 20px;
    font-size: 18px;
}
.signin-box form input{
    width: 100%;
    padding: 8px 0px;
    border: none;
}
.signin-box input[type = "submit"]{
    width: 100%;
    height: 40px;
    border: none;
    background-color: rgb(255, 165, 165);
    margin-top: 20px;


}

.redlink {
    color: red;



}