* {
    font-family: 'Courier New', Courier, monospace;
    margin: 0px;
}

.navbar{
    background-color: red;
    font-family: 'Courier New', Courier, monospace;
    padding: 1rem;
    margin-bottom: 3rem;
    
}
.navdiv{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.logo a{
    font-size: 2rem;
    font-weight: 600;
    color: white;
    text-decoration: none;
}
nav li{
    list-style: none;
    display: inline-block;
}
nav li a{
    color: white;
    font-size:  18px;
    font-weight: bold;
    margin-right:  2rem;
    text-decoration: none;
}
button{
    background-color: black;
    margin-left:  10px;
    border-radius: 10px;
    padding:  10px;
    width: 90px;
}
button a{
    color: white;
    font-weight: bold;
    font-size: 15px;
    text-decoration: none;
}

 

.log-in {
    background-color: aqua;
    border: none;
    color: white;
    padding: 10px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin-left: 50rem;
}



#calendar {
    width: 80%;
    padding: 1rem;
    margin: auto;
    border-collapse: collapse;
    min-height: 10rem;
    
}


#calendar tr {
    width: 100%;
}

#calendar th, #calendar td{
    border: .2rem solid black;
    width:  14%;
    padding: 1rem;
    padding-right: 2rem;
}

#calendar ul {
    list-style-type:disc;
}
