{% extends "base.html" %}

{% block title %}
MC
{% endblock title %}


{% block head %}
{% endblock head %}

{% block body %}
<nav class = "navbar" >
    <div class= "navdiv">
        <div class = "logo"><a href="http://127.0.0.1:5000/">Media Calandar</a> </div>
        <ul>
            <li><a href="">Home</a></li>
            <li><a href="">About</a></li>
            <button><a href="">Sign Up</a></button>
            <button><a href="">Log In</a></button>


        </ul>
        </div>


    </div>

</nav>


<main>

    <table id="calendar">
        <tr>
            <th id="day1"></th>
            <th id="day2"></th>
            <th id="day3"></th>
            <th id="day4"></th>
            <th id="day5"></th>
            <th id="day6"></th>
            <th id="day7"></th>
        </tr>
        <tr>
            {% for day in week_cal %}
            <td>
                <ul>
                    {% for event in day %}
                    <li>{{ event }}</li>
                    {% endfor %}
                </ul>
            </td>
            {% endfor %}
        </tr>
    </table>






</main>


<script src="{{url_for('static', filename='js/index.js')}}"></script>

{% endblock body %}

